<!DOCTYPE html>
<html xmlns:th="http:www.thymeleag.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="/plantilla/plantillaui">
  <head>
    <meta charset="utf-8">
    
  </head>

  <body>
  	 <!-- Row starts -->
  	 <div layout:fragment="contenido">
            <div  class="row gx-4">
              <div class="col-sm-12">
                <div class="card mb-4">
                  <div class="card-body">

                    <!-- Row starts -->
                    <div class="row gx-4">
                      <div class="col-xxl-6 col-sm-12 col-12">
                        <div class="d-flex align-items-start gap-3 flex-wrap">
                          <img src="assets/images/doctors/9.jpg" class="mw-240 rounded-2 border border-primary border-2"
                            alt="Dentist Dashboard">
                          <div class="">
                            <span class="badge bg-primary-subtle text-primary"><i
                                class="ri-circle-fill me-1"></i>Available</span>
                            <p class="mb-1 mt-2">Good Morning,</p>
                            <p class="fs-5 fw-semibold">Dr. Gabriela Wang</p>
                            <p class="mb-1">MBBS, MS - General Physician</p>
                            <p class="mb-1">Speaks: English, French, and Spanish</p>
                            <p class="mb-1">Location: 9 E 2nd St, New York, NY 30003, USA</p>
                          </div>
                        </div>
                      </div>
                      <div class="col-xxl-6 col-sm-12 col-12">

                        <div class="h-100 border-start border-sm-none">
                          <div class="ps-4">
                            <div class="d-flex justify-content-between">
                              <div class="d-flex flex-row flex-wrap gap-2">
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-chat-1-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    Online Consultation Available
                                  </div>
                                </div>
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-building-2-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    Dental Care Medicals & Hospital
                                  </div>
                                </div>
                                <div class="d-flex align-items-center">
                                  <div class="icon-box sm bg-primary-subtle rounded-5 me-2">
                                    <i class="ri-account-circle-line fs-5 text-primary"></i>
                                  </div>
                                  <div>
                                    <span class="fw-semibold text-primary">98%</span> Recommended
                                  </div>
                                </div>
                              </div>
                              <div class="d-flex flex-row gap-2">
                                <a href="javascript:void(0)" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-star-line fs-6 text-primary"></i>
                                </a>
                                <a href="javascript:void(0)" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-link-m fs-6 text-primary"></i>
                                </a>
                                <a href="javascript:void(0)" class="icon-box xs icon-box-hover rounded-5">
                                  <i class="ri-share-line fs-6 text-primary"></i>
                                </a>
                              </div>
                            </div>
                            <div class="d-flex mt-3">
                              <div class="rating-stars">
                                <div class="readonly5"></div>
                              </div>
                              <span class="fw-bold fs-6 me-1">4800</span> Reviews
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->

            <!-- Row starts -->
            <div class="row gx-4">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header">
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="card-title m-0">My Patients List</h5>
                      <div class="ms-auto d-flex gap-2">

                        <!-- Search Patient Starts -->
                        <div class="search-container d-xl-block d-none">
                          <input type="text" class="form-control border" id="searchPatient" placeholder="Search">
                          <i class="ri-search-line"></i>
                        </div>
                        <!-- Search Patient Ends -->

                        <!-- Button Group Starts -->
                        <div class="ms-2">
                          <button type="button" class="btn btn-primary">
                            <i class="ri-list-check-2"></i>
                          </button>
                          <button type="button" class="btn btn-outline-primary">
                            <i class="ri-grid-line"></i>
                          </button>
                          <button type="button" class="btn btn-outline-primary">
                            <i class="ri-calendar-2-line"></i>
                          </button>
                        </div>
                        <!-- Button Group Ends -->

                      </div>
                    </div>
                  </div>
                  <div class="card-body">

                    <!-- Patients count starts -->
                    <div class="d-flex align-items-center flex-row flex-wrap gap-1 mb-3">
                      <div class="d-flex align-items-center">
                        <div class="border rounded-2 py-1 px-2 lh-1">
                          Active Patients <span class="badge bg-primary">360</span>
                        </div>
                      </div>
                      <div class="d-flex align-items-center">
                        <div class="border rounded-2 py-1 px-2 lh-1">
                          Inactive Patients <span class="badge bg-danger">20</span>
                        </div>
                      </div>
                    </div>
                    <!-- Patients count ends -->

                    <!-- Row starts -->
                    <div class="row gx-4">
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient1.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0001
                                  </div>
                                  <div class="fw-semibold mb-1">Janine Gomez</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 32</li>
                                    <li class="px-2 border-end">Female</li>
                                    <li class="px-2">O+</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 06/06/2024 at
                                  2:30PM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient2.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0002
                                  </div>
                                  <div class="fw-semibold mb-1">Graciela Chase</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 39</li>
                                    <li class="px-2 border-end">Female</li>
                                    <li class="px-2">B+</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 18/02/2024 at
                                  6:30PM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient3.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0003
                                  </div>
                                  <div class="fw-semibold mb-1">Rose Lindsey</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 32</li>
                                    <li class="px-2 border-end">Female</li>
                                    <li class="px-2">AB+</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 16/01/2024 at
                                  4:45PM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient4.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0004
                                  </div>
                                  <div class="fw-semibold mb-1">Alba Mathews</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 65</li>
                                    <li class="px-2 border-end">Female</li>
                                    <li class="px-2">A-</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 20/03/2024 at
                                  3:45PM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0005
                                  </div>
                                  <div class="fw-semibold mb-1">Jacob Calderon</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 23</li>
                                    <li class="px-2 border-end">Male</li>
                                    <li class="px-2">O-</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 09/02/2024 at
                                  10:30AM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="card mb-4 border">
                          <div class="card-body">

                            <a href="patient-dashboard.html">
                              <div class="d-flex flex-wrap gap-3 border-bottom mb-2">
                                <img src="assets/images/patient5.png" class="img-4x rounded-3"
                                  alt="Dental Admin Dashboard">
                                <div class="d-flex flex-column">
                                  <div class="text-primary mb-1">
                                    #PT0006
                                  </div>
                                  <div class="fw-semibold mb-1">Cyrus Henson</div>
                                  <ul class="list-unstyled d-flex">
                                    <li class="pe-2 border-end">Age: 48</li>
                                    <li class="px-2 border-end">Male</li>
                                    <li class="px-2">B+</li>
                                  </ul>
                                </div>
                              </div>

                              <div>
                                <h6 class="text-primary">Diagnosis</h6>
                                <p class="text-truncate mb-2">The process of identifying a disease, condition, or injury
                                  from its signs and symptoms.
                                </p>
                                <p class="text-truncate m-0"><span class="text-primary">Last Visit:</span> 24/02/2024 at
                                  6:15PM</p>
                              </div>
                            </a>

                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Row ends -->

                  </div>
                  <div class="card-footer">

                    <!-- Pagination starts -->
                    <nav>
                      <ul class="pagination justify-content-center">
                        <li class="page-item">
                          <a class="page-link">
                            <i class="ri-arrow-left-s-line"></i>
                          </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">
                            <i class="ri-arrow-right-s-line"></i>
                          </a>
                        </li>
                      </ul>
                    </nav>
                    <!-- Pagination ends -->

                  </div>
                </div>
              </div>
            </div>
            <!-- Row ends -->
	</div>
  </body>

</html>